.food-box {
	border: 1px solid black;
	color: black;
	background: silver;
	margin-bottom: 15px;
	padding: 5px 15px 5px 15px;
	height: 700px;
	position: relative;
}

.top-link {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.nav > li {
	border-bottom: 1px solid white;
	color: white;
	background-color: #272727;
}
