/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 25px;
  text-align: center;
  padding-top: 10px;
  font-size: 1.75em;
}

/********* Main Page styles **********/
.container {	
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	padding-top: 20px;
}

.row {
	width: 100%;
	margin-left: 40px;
	margin-right: 0;
}

#box1, #box2, #box3 {
	border: 1px solid black;
	background: #DDDDDD;	
	position: relative;
	padding-top: 45px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 1em;
}

h2 {
	text-align: center;
	width: 140px;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 40px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.25em;
}

#box1 h2 {
	background: #FF9999;
	color: black;
}

#box2 h2 {
	background: #DD3434;
	color: white;
}

#box3 h2 {
	background: #DEDE77;
	color: black;
}

/********** Desktop devices only **********/
@media (min-width: 992px) {
	#box1, #box2, #box3 {
		width: 30%;
		float: left;
	}
}

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#box1, #box2 {
		width: 44%;
		float: left;
	}
	
	#box3 {
		width: 90%;
		clear: left;
	}
}

/********** Mobile devices only **********/
@media (max-width: 767px) {
	#box1, #box2, #box3 {
		width: 90%;
	}
}